@import '~normalize.css/normalize';

// @font-face {
//   font-family: 'Comforter';
//   src: url('~/src/assets/fonts/Comforter-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

$background-color: #fff;
$background-darker-color: #eee;
$border-color: #000;
$recording-color: #e58b88;
$stop-color: #000;
$focus-color: #d9effc;
$loading-color: $background-darker-color;
$icon-size: 64px;
$cell-padding: 12px;

@keyframes pulsatingOpacity {
  0%,100% { opacity: 1; }
  50% { opacity: 0.2; }
}

@keyframes pulsatingBackground {
  0%,100% { background-color: $background-color; }
  50% { background-color: $focus-color; }
}

body {
  // font-family: 'Comforter';
  font-family: sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  box-sizing: border-box;
}

.recorder {
  flex: 1;
  display: flex;
}

.btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background-color;
  border: none;
  transition: 0.2s ease all;
  cursor: pointer;
  
  &:hover {
    background: $background-darker-color;
  }

  &:active {
    .icon {
      width: calc($icon-size * 0.9375);
      height: calc($icon-size * 0.9375);
    }
  }

  [data-is-recording] & {
    background: $recording-color;
  }

  [data-is-transcribing] & {
    opacity: 0.5;
    cursor: not-allowed;
  }

  & > .icon {
    width: $icon-size;
    height: $icon-size;
    background: $recording-color;
    border-radius: 50%;
    transition: 0.2s ease all;
    
    [data-is-recording] & {
      width: 0; 
      height: 0; 
      border-top: calc($icon-size / 2) solid transparent;
      border-bottom: calc($icon-size / 2) solid transparent;
      border-left: calc($icon-size / 2) solid $stop-color;
      border-radius: 0;
      position: relative;
      left: calc($icon-size / -4);

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: calc($icon-size / -2);
        width: 0;
        height: 0;
        border-top: calc($icon-size / 2) solid transparent;
        border-bottom: calc($icon-size / 2) solid transparent;
        border-left: calc($icon-size / 2) solid $stop-color;
      }
    }

    [data-is-recording][data-is-freestyle] &,
    [data-is-recording].is-last-prompt & {
      width: $icon-size;
      height: $icon-size;
      background: $stop-color;
      border-radius: unset;
      border: none;
      left: 0;

      &:after {
        display: none;
      }
    }
  }
}

.output {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  background: $background-color;
  border-top: 1px solid $border-color;
  overflow: auto;
  transition: 0.2s ease all;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  cursor: text;

  tr {
    border-bottom: 1px solid $border-color;

    // &:nth-child(odd) {
    //   background-color: $background-color;
    // }
    
    // &:nth-child(even) {
    //   background-color: $background-darker-color;
    // }
  }
  
  th, td {
    padding: $cell-padding;

    &:focus,
    &.is-focused {
      outline: none;
      background: $focus-color;
      animation: pulsatingBackground 2s infinite;
    }
    
    &:not(:last-of-type) {
      border-right: 1px solid $border-color;
    }
  }

  &.is-docs {
    tr {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    th, td {
      .icon {
        width: 16px;
        height: 16px;
        display: block;

        &.is-record {
          background: $recording-color;
          border-radius: 50%;
        }
      
        &.is-stop {
          background: $stop-color;
        }
      }
    }
  }
}

.loader {
  height: 42.4px;
  width: 100%;
  background: $loading-color;
  animation: pulsatingOpacity 2s infinite;
  
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.input {
  width: 100%;
  padding: $cell-padding;
  text-align: center;
  border: none;
  border-bottom: 1px solid $border-color;
  box-sizing: border-box;

  &.is-hidden {
    display: none;
  }

  &:focus {
    outline: none;
    animation: pulsatingBackground 2s infinite;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type=number] {
    -moz-appearance: textfield;
  }
}
