@import '~normalize.css/normalize';

// @font-face {
//   font-family: 'Comforter';
//   src: url('~/src/assets/fonts/Comforter-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

body {
  // font-family: 'Comforter';
  font-family: sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.recorder {
  flex: 1;
}

.btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  border-color: #fff;
  transition: 0.2s ease all;
  cursor: pointer;
  
  &:hover {
    background: #ddd;
  }

  &:active {
    .icon {
      width: 60px;
      height: 60px;
    }
  }

  .is-recording & {
    background: red;
  }

  &.is-disabled, &[disabled] {
    z-index: -1;
    pointer-events: none;
  }
}

.icon {
  width: 64px;
  height: 64px;
  transition: 0.2s ease all;

  &.is-record {
    background: red;
    border-radius: 50%;
  }

  &.is-stop {
    background: #000;
  }
}

.output {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background: #eee;
  overflow: auto;
  transition: 0.2s ease all;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  cursor: text;

  tr {
    &:not(:last-of-type) {
      border-bottom: 1px solid #fff;
    }

    &:nth-child(odd) {
      background-color: #eee;
    }
    
    &:nth-child(even) {
      background-color: #ddd;
    }
  }
  
  th, td {
    padding: 12px;
    
    &:not(:last-of-type) {
      border-right: 1px solid #fff;
    }
  }

  &.is-docs {
    th, td {
      display: flex;
      align-items: center;
      justify-content: center;
      
      .icon {
        width: 12px;
        height: 12px;
        margin-right: 6px;
      }
    }
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: green;
  transition: 0.4s linear all;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }
}

// .copy {
//   position: absolute;
//   width: 100%;
//   height: 50%;
//   background: #000;
//   opacity: 0;
//   transition: 0.2s ease all;
//   cursor: pointer;

//   &:hover {
//     opacity: 0.1;
//   }
// }
