body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $text-color;
  background: $background-color;
  
  &[data-dark-theme] {
    color: $text-dark-color;
    background: $background-dark-color;
  }
}
