.icon {
  &.is-record {
    width: $small-icon-size;
    height: $small-icon-size;
    background: $recording-color;
    border-radius: 50%;
  }

  &.is-stop {
    background: $stop-color;
  }

  &.is-gear {
    width: $small-icon-size;
    height: $small-icon-size;
    position: relative;
    background-image: linear-gradient(to right, $icon-color, $icon-color);
    background-size: 25% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transform-origin: center;
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      transform-origin: center;
    }
    
    &:before {
      background-image: linear-gradient(to right, $icon-color, $icon-color);
      background-size: 25% 100%;
      transform: rotate(60deg);
    }
    
    &:after {
      background-image: radial-gradient($settings-color 0 35%, $icon-color 35% 70%, transparent 70% 100%), linear-gradient(to right, $icon-color, $icon-color);
      background-size: 70% 70%, 25% 100%;
      transform: rotate(120deg);
    }
  }

  &.is-download {
    width: $small-icon-width;
    height: $small-icon-size;
    background: $icon-color;
    display: block;

    &:before {
      content: '';
      border: solid $icon-color;
      border-width: 0 $small-icon-width $small-icon-width 0;
      padding: $small-icon-width;
      transform: rotate(45deg);
      display: block;
      position: relative;
      top: $small-icon-size / 2;
      left: -$small-icon-width;
      background: transparent;
    }

    &:after {
      content: '';
      width: $small-icon-size - $small-icon-width;
      height: $small-icon-width;
      background: $icon-color;
      display: block;
      position: relative;
      top: $small-icon-size * .75;
      left: -($small-icon-size - ($small-icon-width * 2)) / 2;
    }
  }

  &.is-plus {
    width: $small-icon-size;
    height: $small-icon-width;
    background: $icon-color;
    
    &:after {
      content: '';
      width: $small-icon-width;
      height: $small-icon-size;
      background: $icon-color;
      display: block;
      position: relative;
      left: calc(($small-icon-size - $small-icon-width) / 2);
      top: calc(($small-icon-size - $small-icon-width) / -2);
    }
  }

  &.is-cross {
    width: $small-icon-size;
    height: $small-icon-width;
    background: $icon-color;
    transform: rotate(45deg);
    
    &:after {
      content: '';
      width: $small-icon-width;
      height: $small-icon-size;
      background: $icon-color;
      display: block;
      position: relative;
      left: calc(($small-icon-size - $small-icon-width) / 2);
      top: calc(($small-icon-size - $small-icon-width) / -2);
    }
  }

  &.is-crescent-moon {
    width: $small-icon-size;
    height: $small-icon-size;
    background: $background-color;
    border-radius: 50%;
    position: relative;
    transition: $transition-default;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: $small-icon-size * .8;
      height: $small-icon-size * .8;
      background: $theme-color;
      border-radius: 50%;
      transition: $transition-default;
    }
  }
}
