.loader {
  height: $cell-height;
  width: 100%;
  background: $loading-color;
  min-height: 0;
  opacity: 0;
  visibility: hidden;
  animation: pulsatingOpacity 2s infinite;

  [data-dark-theme] & {
    background: $loading-dark-color;
    border-color: $border-dark-color;
  }

  [data-is-transcribing] & {
    min-height: $cell-height;
    opacity: 1;
    visibility: visible;
  }
}
