$text-color: #000;
$text-dark-color: #fff;
$background-color: #fff;
$background-dark-color: #000;
$border-color: #000;
$border-dark-color: #9dabdd;
$icon-color: #000;
$recording-color: #e58b88;
$stop-color: #000;
$focus-color: #d9effc;
$focus-dark-color: $border-dark-color;
$loading-color: #eee;
$loading-dark-color: $border-dark-color;
$menu-color: #9dabdd;
$theme-color: #ecbe7a;
$download-color: #9dabdd;
$add-color: #70ae98;
